@font-face {
    font-family: 'evelethclean_thin';
    src: url('./fonts/evelethcleanthin-webfont.woff2') format('woff2'),
        url('./fonts/evelethcleanthin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'evelethclean_regular';
    src: url('/fonts/evelethclean-webfont.woff2') format('woff2'),
        url('/fonts/evelethclean-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}